/* mini-Reset */
*,
*:before,
*:after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
h1,h2,h3,h4,h5,h6 {
    margin: 0;
    padding: 0;
}
li {
    list-style-type: none;
}

input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }

a {
    text-decoration: none;
    color: #000000;
}

input::-moz-placeholder {
    color: #BFBFBF;
}

input::-webkit-input-placeholder {
    color: #BFBFBF;
}

.content,
.footer {
    font-family: 'Roboto', sans-serif;
}

.content {
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}

.container {
    width: 70%;
    margin: 0 auto;
}

.logo {
    display: flex;
    span {
        font-size: 32px;
        margin-right: 8px;
    }
    &__name {
        font-weight: 400;
        font-size: 15px;
        line-height: 18px;
        color: #000000;
    }
}

.button {
    width: 97px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    line-height: 1;
    color: #ffffff;
    transition: transform .3s linear;
    cursor: pointer;
    span {
        margin-right: 5px;
    }
    &:focus,
    &:active {
        outline: none;
    }
    &:hover {
        transform: translate(-4px, -3px);
    }
    &_user {
        border: none;
        background-color: #1890FF;
        margin-right: 10px;

        span {
            position: relative;
            bottom: 2px;
        }
    }
    &_buy {
        border: none;
        border-radius: 2px;
        background-color: #1890FF;

        width: 124px;

        margin-right: 59px;
        img {
            display: block;

            width: 16px;
            height: 16px;

            margin-left: 5px;
        }
    }
    &_issue {
        border: none;
        background-color: #1890FF;

        width: 149px;

        margin-right: 68px;
    }
    

    &_issue,
    &_user,
    &_buy {

        &:active {
            box-shadow: 0 0 6px #1890FF;
        }
    }

    &_basket,
    &_cancel {
        color: #595959;
        &:active {
            box-shadow: 0 0 6px #595959;
        }
    }
}

.input {
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;

    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #000000;

    padding: 8px 0;
    padding-left: 38px;

    outline: none;

    &:focus,
    &:active {
        box-shadow: 0 0 10px rgba(0,0,0, .5);
    }
    &_address {
        flex: .7;
        flex-shrink: 0;

        background: url('../icons/home_icon.svg');
        background-repeat: no-repeat;
        background-position: left 11px center; 
    }
    &_search {
        flex: 0.3;

        padding: 3px 0 3px 38px;

        background: url('../icons/search_icon.svg');
        background-repeat: no-repeat;
        background-position: left 11px center; 
    }
}   


.title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1;
    color: #000000;
    &_rest {
        margin-right: 20px;
    }
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    
    margin-top: 45px;
}

.card {
    flex-basis: 32%;
    border-radius: 7px;
    box-shadow: 0px 4px 12px rgba(148, 100, 100, 0.2);
    position: relative;
    & > img {
        width: 100%;
        border-radius: 7px 7px 0 0;
    }
    &_mt {
        margin-top: 30px;
    }
    &__wrapper {
        padding: 20px 24px 34px 24px;
        display: flex;
        flex-direction: column;
        background-color: #fff;
    }
    &__heading {
        display: flex;
        flex-direction: row;
        width: 100%;
        justify-content: space-between;
        align-items: center;
    }
    &__title {
        font-weight: 700;
        font-size: 24px;
        line-height: 32px;
        color: #000000;
        &_reg {
            font-weight: 400;
        }
    }
    &__tag {
        display: flex;
        width: 55px;
        height: 22px;
        align-items: center;
        justify-content: center;
        border-radius: 2px;
        background: #262626;
        color: #FFFFFF;
        font-weight: 400;
        font-size: 12px;
        line-height: 20px;
        text-align: center;
        &_md {
            position: absolute;
            display: none;
            bottom: 43%;
            right: 2%;
        } 
    }
    &__info {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        width: 100%;
        margin-top: 10px;
        &_rest {
            margin-top: 0;
            flex: 1;
        }
    }
    &__rating {
        font-weight: 700;
        font-size: 18px;
        line-height: 1;
        color: #FFC107;
        display: flex;
        align-items: center;
        margin-right: 26px;
        text-align: center;
        span {
            margin-right: 7px;
            font-size: 14px;
            position: relative;
            bottom: 1px;
        }
        &_md {
            position: absolute;
            bottom: 43%;
            left: 2%;
            display: none;
            width: 60px;
            height: 20px;
            border-radius: 2px;
            background-color: rgba(0,0,0,.5);
            margin-right: 0;
            padding-top: 1px;
        }
        &_rest {
            position: relative;
            top: 2px;
        }
    }
    &__short-info {
        display: flex;
        font-weight: normal;
        font-size: 18px;
        line-height: 32px;
        color: #8C8C8C;
    }
    &__price{
        margin-right: 10px;
        &:after {
            content: "";
            display: inline-block;
            width: 5px;
            height: 5px;
            background-color: #8C8C8C;
            border-radius: 50%;
            margin-left: 10px;
            transform: translateY(-3px);
        }
    }
    &__structure {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #8C8C8C;
        margin-top: 10px;
    }
    &__buy {
        display: flex;
        margin-top: 28px;
        align-items: center;
    }
    &__product-price {
        font-weight: 700;
        font-size: 20px;
        line-height: 1;
        color: #000000;
    }
}

.socials {
    display: flex;
    align-items: center;
    &__item {
        &:not(:last-child) {
            margin-right: 21px;
        }
    }
}

.header {
    padding-top: 44px;

    font-family: 'Roboto', sans-serif;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
    }
    &__buttons {
        display: flex;
        align-items: center;
    }
}

.promo {
    margin-top: 40px;
    &__content {
        background-color: #FFF1B8;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 70px;
        min-height: 300px;
        background: url('../img/bg/pizza_bg.png') no-repeat right -300px top -100px / 800px;
        background-color: #FFF1B8;
        box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
    }
    &__wrapper {
        flex-basis: 98%;
    }
    &__title {
        font-weight: 700;
        font-size: 39px;
        line-height: 46px;
        color: #302C34;
    }
    &__descr {
        font-weight: 400;
        font-size: 24px;
        line-height: 28px;
        color: #302C34;
        margin-top: 4%;
    }
}

.restaurants {
    margin-top: 52px;
    padding-bottom: 90px;
    &__heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        &_rest {
            justify-content: flex-start;
        }
    }
}

.footer {
    height: 156px;
    display: flex;
    align-items: center;
    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 100%;
        flex-wrap: wrap;
    }
    .logo {
        margin-right: 35px;
    }
    &__wrapper {
        display: flex;
        align-items: center;
    }
    &__menu {
        display: flex;
        flex: 0.4 0 auto;
        flex-wrap: wrap;
    }
    &__item {
        &:not(:last-child) {
            margin-right: 15px;
        }
    }
    &__link {
        font-weight: 400;
        font-size: 18px;
        line-height: 21px;
        color: #595959;
    }
}

.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;

    width: 100%;
    height: 100%;

    background-color: rgba(0, 0, 0, 0.4);

    font-family: 'Roboto', sans-serif;

    &__dialog {
        width: 95%;
        max-width: 780px;

        background: #FFFFFF;
        border-radius: 5px;

        margin: auto;
        padding: 40px 45px;
    }
    &__header {
        display: flex;
        justify-content: space-between;
    }
    &__title {
        font-weight: 700;
        font-size: 36px;
        line-height: 42px;
        color: #000000;
    }
    .close {
        border: none;
        background-color: transparent;
        outline: none;

        font-size: 36px;
        font-weight: 700;

        cursor: pointer;
    }
    &__content {
        margin-top: 45px;
    }
    &__footer {
        margin-top: 52px;

        display: flex;
        justify-content: space-between;
        align-items: center;
        &-price {
            width: 106px;
            height: 53px;

            display: flex;
            align-items: center;
            justify-content: center;

            text-align: center;
            font-weight: 700;
            font-size: 20px;
            line-height: 23px;
            color: #FAFAFA;

            background: #262626;
            border-radius: 5px;
        }
        &-buttons {
            display: flex;
            align-items: center;
        }
    }
}

.is-open {
    display: flex;
}

.food {
    &__row {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        padding-bottom: 8px;

        border-bottom: 1px solid #D9D9D9;
        &:not(:first-child) {
            margin-top: 25px;
        }
    }
    &__counter {
        display: flex;
        align-items: center;
    }
    &__price {
        margin-left: auto;
        margin-right: 47px;

        font-weight: 700;
        font-size: 20px;
        line-height: 32px;
        color: #000000;
    }
    &__name {
        font-weight: 400;
        font-size: 18px;
        line-height: 32px;
        color: #000000;
    }
    &__counter-button {
        width: 39px;
        height: 32px;

        display: flex;
        align-items: center;
        justify-content: center;

        background: #FFFFFF;
        border: 1px solid #40A9FF;
        border-radius: 2px;
        outline: none;
        transition: transform .3s linear;

        color: #40A9FF;
        cursor: pointer;
        
        &:hover {
            transform: scale(1.1);
        }
        &:active {
            box-shadow: -3px 3px 5px rgba(0,0,0, .6)
        }
    }
    &__counter-count {
        margin-left: 10px;
        margin-right: 10px;
    }
}

@keyframes rotate360 {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.rotate360 {
    animation: rotate360 1.5s ease 0.5s;
}

/* Import media */
@import 'media.scss';